[submodule "lwip"]
	path = lwip
	url = git://git.savannah.gnu.org/lwip.git
[submodule "stm32h7xx_hal_driver"]
	path = stm32h7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
